<% if @story %>
  <div id=curr-story>
    <%= render 'stories/story', :story => @story, :add_underline => true, :toggle_body => false, :show_date => false %>
    <br />
    <div id=story-controls>
      <% if @story.current_editor == nil and @story.last_editor != user.email%>
        <%= render :partial => 'stories/take_control' %>
      <% elsif @story.current_editor == user.email %>
        <%= render 'layouts/timer', :seconds => @story.get_editing_time %>
        <%= render 'stories/edit_box' %>
      <% elsif @story.last_editor == user.email %>
        Sorry, someone else must edit the story before you can contribute again.
      <% else %>
        Sorry, the story is currently being edited by someone else.
      <% end %>
    </div>
    <div id=email-alerts>
      <% if not user.email_alerts %>
        <%= form_for @story, :url => {:action => 'add_alerts', :controller => 'users'} do |f|%>
          <input name='email' class=left-align-button type='submit' value='Receive email alerts'>
        <% end %>
      <% else %>
        <%= form_for @story, :url => {:action => 'remove_alerts', :controller => 'users'} do |f|%>
          <input name='email' class=left-align-button type='submit' value="Don't receive email alerts">
        <% end %>
      <% end %>
    </div>
  </div>
  <%= render 'stories/registered_users', :story => @story %>
<% else %>
  No current fanfic.
<% end %>
